.container {
  width: 50%;
  background-color: rgb(59, 58, 59);
  margin: auto;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h1 {
  font-family: sans-serif;
  color: white;
}
label {
  color: white;
}
input {
}
.Password_bar {
  display: flex;
  flex-direction: row;
  /* margin: 5px; */
  padding: 5px;
  width: 100%;
}
#input_pass {
  padding: 5px;
  width: 100%;
  padding: 5px;
}
#gen {
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(18, 208, 24);
  /* color: aliceblue; */
}
.options {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  align-self:  baseline;

}

#pass_len {
  float: lef;
}
